name: Backend CI

on:
  push:
    branches: ["demo"]
    paths:
      - "my-ci-cd-backend/**" # รันเฉพาะเมื่อมีการแก้ฝั่ง Backend

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Build with Maven
        run: |
          cd my-ci-cd-backend
          chmod +x mvnw
          ./mvnw clean test # รัน Build และ Unit Test พร้อมกัน
